@{
    ViewData["Title"] = "پیام";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="direction: rtl; text-align: right;">
    <h1>عملیات با موفقیت انجام شد</h1>
</div>
<div style="direction: rtl; text-align: right;">
    <a href="https://localhost:7256/Admin/Index">بازگشت</a>
</div>